<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dropzone.css')}}">
    <script src="{{url_for('static',filename='dropzone.js')}}"></script>
    <script src="{{url_for('static',filename='pdfobject.js')}}"></script>
    <script src="{{url_for('static',filename='custom.js')}}"></script>
    <title>PDF Tool</title>
</head>
<body>
    <header class="bg-primary">
        <a href="{{url_for('index')}}" class="logo">
            <h1>PDF Tool</h1>
        </a>
    </header>
    <div class="main">
       
        <main>
            {% block body %}
            
        {% endblock body %}
        </main>
        <div class="footer">
            footer
        </div>
    </div>
    <script src="{{url_for('static',filename='index.js')}}">

    </script>
</body>
</html>